h4 {
  font-weight: bold;
}

.ptb-70 {
  padding: 70px 0;
}

.services-bg {
  background-image: linear-gradient(-45deg, #fff, #9c9c9c);
  /* background-attachment: fixed; */
}

.card-services {
  width: 24%;
  text-align: center;
  transition: all 0.5s ease;
  position: relative;
}

.card-services:hover {
  background-color: #00a8ff;
  /* background-image: linear-gradient(90deg, #00a8ff 0%, #fff); */
  color: #fff;
  transform: scale(1.03);
}

.card-services:hover .services-icon {
  border: dashed 1px #fff;
  color: #fff;
}

.services-icon {
  border-color: #ffffff00;
  padding: 10px;
  color: #00a8ff;
  transition: all 0.5s ease;
}

.hidden-bg-icon {
  opacity: 0;
  position: absolute;
  top: 10%;
  right: 0;
}

.card-services:hover .hidden-bg-icon {
  opacity: 0.5;
}

@media screen and (max-width: 940px) {
  .card-services {
    width: 100%;
  }
}