.intro-section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 200px 0 100px 0;
  /* background-image: url("../../images/edian_reyes.jpg"); */
  background-image: url("../../images/blurry-coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.intro-title {
  font-size: 100px;
  font-family: "Comfortaa";
  text-shadow: 6px 4px 2px #000;
}

.intro-sub-text {
  display: inline-block;
  color: #fff;
}

.dark-overlay::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dot {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  vertical-align: super;
}

.big-dev {
  position: absolute;
  z-index: 0;
  opacity: 0.1;
  transform: rotate(-25deg);
  top: 210px;
  left: 5%;
  color: #fff;
  user-select: none;
  font-size: 15vw;
  display: block;
}

.divider {
  max-width: 200px;
  margin: 20px auto;
  background-color: #00a8ff;
  height: 5px;
  border-radius: 10px;
}

.greetings-text {
  font-weight: bold;
  color: #00a8ff;
}

@media screen and (max-width: 1024px) {
  .intro-title {
    font-size: 50px;
  }

  .dot {
    display: none;
  }

  .intro-sub-text {
    margin: 10px;
  }

  .intro-section {
    padding: 130px 0 100px 0;
  }
}