.hamburger {
  position: relative;
  display: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-nav {
    display: none;
  }
}
