::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border: solid 1px #000;
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: rgba(73, 73, 73, 1);
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Comfortaa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: overlay;
}

a:hover {
  color: #00a8ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navi-bar {
  z-index: 99;
}

.link-item {
  color: #fff;
  transition: all 0.5s ease;

}

.link-item:hover {
  font-weight: bold;
  font-size: 15px;
  transform: rotate(5deg);
}

.section-title {
  font-size: 3em;
}

.sub-title {
  font-size: 1.5em;
  font-family: "Comfortaa";
}

.row-flex {
  display: flex;
  flex-flow: wrap;
}

.col-flex {
  display: flex;
  flex-flow: column;
}

.dark-gray-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.white-text {
  color: #fff;
}

.active-link {
  color: #00a8ff !important;
  font-weight: bold;
}

footer {
  background-color: #000;
}

.bg-1024 {
  max-width: 1024px;
}

.center-block {
  margin: auto;
}

.social-icon {
  color: #fff;
  transition: all 0.6s ease-in-out;
}

.social-icon:hover {
  color: #00a8ff;
  transform: rotate(360deg);
}

.card-link {
  transition: all ease 0.5s;
}

.card-link:hover {
  transform: scale(1.05);
  box-shadow: 3px 0 10px 2px #4d4d4d50;
}

.overlay {
  position: absolute;
  z-index: 999;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card-link:hover .overlay {
  opacity: 1;
  transition: all ease 0.5s;
}

.p-relative {
  position: relative;
}

.card-link-text {
  color: #fff;
  text-align: center;
  margin-top: 2em;
}

.text-brand {
  color: #00a8ff;
}