.sidebar-container {
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: #000;
    transition: all 1s ease;
    z-index: 2;
    overflow: hidden;
    width: 0;
    opacity: 0;
}

.sidebar-open {
    width: 100%;
    opacity: 1;
}

.sidebar-nav {
    height: inherit;
    justify-content: center;
}